nav.header.navbar.navbar-light {
  padding: 0.5rem 0rem;
}

.user-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  width: 21.5rem;
}

div.card.card-block>p.card-text {
  margin-bottom: 0rem;
}
