<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Index</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../app/css/style.css">
</head>
<body>
  <button type="button" class="btn btn-default btn-lg">
  <a href="/"><span class="glyphicon glyphicon-book"></span> Web Scraping</a>
  </button>
  <button type="button" class="btn btn-default btn-lg">
    <a href="/packaging"><span class="glyphicon glyphicon-book"></span> Packaging</a>
  </button>
  <%= yield %>
</body>
</html>



