
$primary-white : #F7F4EF;
$primary-brown : #371C11;
$primary-yellow : #FF9900;
$primary-light-blue : #D3E9EA;
$primary-orange : #FF4F04;

$secondary-orange : #F60;
$hover-color : #A59F9F;

$chat-white : #F5F5F5;
$bright-white : #FFFFFF;

