<form name="newUserForm" ng-submit="addUser(user)" novalidate>
  <h3>Sign Up for an Account</h3>
  <div class="form-group row" ng-class="{ 'has-error' : newUserForm.email.$invalid && !newUserForm.email.$pristine }">
    <label for="newUserEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="newUserEmail" name='email' ng-model="user.email" placeholder="Email" required>
      <p ng-show="newUserForm.email.$invalid && !newUserForm.email.$pristine" class="help-block">
      Email is required.</p>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-error' : newUserForm.password1.$invalid && !newUserForm.password1.$pristine }">
    <label for="newUserPassword1" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="newUserPassword1"  name='password1' aria-describedby="passwordHelpInline" ng-model="user.password1" placeholder="Password" required>
        <p ng-show="newUserForm.password1.$invalid && !newUserForm.password1.$pristine" class="help-block">Password is required.</p>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary" ng-disabled="newUserForm.$invalid">Sign Up</button>
    </div>
  </div>
</form>
