.dashboard {
	position: relative;
	height: 100%;
	width: 100%;
}

.dashboardbody {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	top: -64px;
}

.change_email {
	background-image: url('https://static.pexels.com/photos/27802/pexels-photo-27802.jpg');
	background-size: cover;
	background-position: center;
	flex: 1 100%;
	order: 1;
}

.change_password_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #b69f91;
	opacity: 0.5;
}
.change_password {
	background-image: url('https://static.pexels.com/photos/7044/pexels-photo.jpeg');
	background-size: cover;
	background-position: center;
	flex: 1 100%;
	order: 2;
}

.header {
	position: relative;
	top: 150px;
	text-align: center;
}

.formField {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
}

.textField {
	text-align: center;
}
