<script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All Links</a></li>
    <li><a href='#' class='create'>Shorten</a></li>
  </ul>
  <!-- START SOLUTION -->
    <a href='/logout' class='logout'>Logout</a>
  <!-- END SOLUTION -->
  </div>
  <div id='container'></div>
</script>


<script id='link' type='text/x-handlebars-template'>
  <img src='/redirect_icon.png'/>
  <div class='info'>
    <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
    <div class='title'>{{title}}</div>
    <div class='original'>{{url}}</div>
    <a href='{{base_url}}/{{code}}'>{{base_url}}/{{code}}</a>
  </div>
</script>


<script id='create' type='text/x-handlebars-template'>
  <form>
      <input class='text' type='text' name='url'>
      <input type='submit' value='Shorten'>
  </form>
  <img class='spinner' src='/spiffygif_46x46.gif'>
  <div class='message'></div>
</script>

<script>
  $(function(){
    new Shortly();
  });

  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>

<script src='/client/app.js'></script>
<script src='/client/link.js'></script>
<script src='/client/links.js'></script>
<script src='/client/linkView.js'></script>
<script src='/client/linksView.js'></script>
<script src='/client/createLinkView.js'></script>
<script src='/client/router.js'></script>
